
body {
    margin: 0;
    padding: 0;
    background: #E3DBDB;
    display: flex;
    flex-direction: column;
    
}
header {
    width: 800%;
    height: 300px;
    background: #9F9F92;
    display: flex;   
}
.name {
    width: 800%;
    height: 300px;
    background: #9F9F92;
    display: flex;
}


.content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}
.img {
    position: absolute;
    top: 6%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%; 
    overflow: hidden;
}
.img img {
    width: 180px;
    height: 180px;
}
.content .p1 {
color: #e3e9db;
font-family: "Calistoga", serif;
font-weight: bolder;
font-size: 65px;
margin-bottom: 0;
}

.content .p2 {
    color: #e3e9db;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: 35px;
    margin-top: 0%;
    margin-bottom: 0;
    }    
    
.p {
    width: 20%;
    height: auto;
    background: #C9D5B5;
    margin: 5% auto;
    padding: 50px;
    border-radius: 50px;  
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.p .titulop {
    width: 50%;
    height: auto;
    background: #C9D5B5;
    margin: 5% auto;
    padding: 30px;
    border-radius: 50px;
    
    
}
.p .titulop {
    color: #6D6466;
    font-family: "Calistoga", serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    margin: 20px auto; 
}
.p .info2 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.info{
    width: 50%;
    height: auto;
    background: #C9D5B5;
    margin: 5% auto;
    padding: 50px;
    border-radius: 50px;
}
.info .tituloseccion {
    color: #6D6466;
    font-family: "Calistoga", serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 1px #6D6466 solid;
    padding: 2%;
    margin-top: -30px;
}

.info .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.info .info1  {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.info .info1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.info .info1  {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.info .info1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}