
body {
    margin: 0;
    padding: 0;
    background: #E3DBDB;
    display: flex;
    flex-direction: column;
    
}
header {
    width: 150%;
    height: 300px;
    background: #9F9F92;
    display: flex;   
}
.name {
    width: 150%;
    height: 300px;
    background: #9F9F92;
    display: flex;
}


.content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}
.img {
    position: absolute;
    top: 6%;
    right: 10%;
    width: 200px;
    height: 200px;
    border-radius: 100%; 
    overflow: hidden;
}
.img img {
    width: 200px;
    height: 200px;
}
.content .p1 {
color: #e3e9db;
font-family: "Calistoga", serif;
font-weight: bolder;
font-size: 65px;
margin-bottom: 5%;
margin-left: 5%;
margin-top: 5%;
}
.content .p2 {
    color: #e3e9db;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: 35px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
    }    
    
.info{
    width: 40%;
    height: auto;
    background: #C9D5B5;
    margin: 1% auto;
    padding: 50px;
    border-radius: 50px;
    white-space: pre-line;
    display: inline;

}
.info .tituloseccion {
    color: #6D6466;
    font-family: "Calistoga", serif;
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px #6D6466 solid;
    padding: 2%;
    margin-top: -30px;
}
.info .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
    
}
.info .info1  {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
    
}

.p {
    width: 20%;
    height: auto;
    background: #cbb3bf;
    margin: 1% auto;
    padding: 50px;
    border-radius: 50px;  
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    top: 29%;
    
}
.p .tituloseccion {
    color: #6D6466;
    font-family: "Calistoga", serif;
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px #6D6466 solid;
    padding: 2%;
    margin-top: -30px;
}
.p .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
    
}
.p .info1  {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
    
}

.p .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.p .info1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.p .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.p .info1  {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.p .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.p .info1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.p .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
}

.info2 {
    width: 17%;
    height: 2% auto;
    background: #C9D5B5;
    margin: 40% auto;
    padding: 50px;
    border-radius: 50px;
    white-space: pre-line;
    display: inline;
    flex-direction: row;
    position: absolute;
    right: 50%;
    top: 21%;
    left: 26%;

}
.info2 .tituloseccion {
    color: #6D6466;
    font-family: "Calistoga", serif;
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px #6D6466 solid;
    padding: 2%;
    margin-top: -30px;
}
.info2 .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
    
}
.info2 .info1  {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
    
}

.info3 {
    width: 17%;
    height: auto;
    background: #C9D5B5;
    margin: 40% auto;
    padding: 50px;
    border-radius: 50px;
    white-space: pre-line;
    display: inline;
    flex-direction: row;
    position: absolute;
    right: 50%;
    top: 21%;
    left: 51%;

}
.info3 .tituloseccion {
    color: #6D6466;
    font-family: "Calistoga", serif;
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px #6D6466 solid;
    padding: 2%;
    margin-top: -30px;
}
.info3 .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
    
}
.info3 .info1  {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
    
}

.info4 {
    width: 40%;
    height: 2% auto;
    background: #C9D5B5;
    margin: 40% auto;
    padding: 50px;
    border-radius: 50px;
    white-space: pre-line;
    display: inline;
    flex-direction: row;
    position: absolute;
    right: 50%;
    top: 53%;
    left: 27%;

}
.info4 .tituloseccion {
    color: #6D6466;
    font-family: "Calistoga", serif;
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px #6D6466 solid;
    padding: 2%;
    margin-top: -30px;
}
.info4 .infoinfo1 {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
    
}
.info4 .info1  {
    color: #6D6466;
    font-family: "Albert Sans", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
    
}
footer {
    background-color:#9F9F92;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 150%;
    top: 800px;
  }

  .footer1 {
    color: #e3e9db;
    font-family: "Albert Sans", sans-serif;
    font-weight:normal;
    font-size: large;
    display: inline;
    margin-left: -20%;
}